html{
  background-color: #1b262c;
}
/* Page Header */
.header{
display: flex;
}
.mainImage{
  max-width: 100%;
  height: auto;
  display: grid;

}
.bandContent{
  color: #bbe1fa;
  margin-left: 5%;
  width: 25%;
  margin-top:20%;
}

.mainHeading{
  text-align: center;
  border: 1px solid #ffd880;
}

/* Artist content */

.artistContent{
  /* display: flex; */
  /* justify-content: space-around; */
  margin-top: 10%;
  
}
.artistName{
  color: #bbe1fa;
  text-align: center;
  border: 1px solid #ffd880;
  width: 24%;
  margin-left: 30%;
}
.artist1  {
  width: 24%;
  display: inline-block;
}
.artist2{
  width: 24%;
  display: inline-block;
  position: absolute;
}

.artist3{
  width: 24%;
  display: inline-block;
  position: absolute;
  margin-left:25%;
}
.artist4{
  width: 24%;
  display: inline-block;
  position: absolute;
  margin-left: 50%;
}
.bio {
  text-align: justify;
  width:60%;
  margin-left:10%;
  color: #bbe1fa; 
}




































/* .favband{
  text-align: start;
  position: absolute;
  top: 15%;
  left: 80%;
  transform: translate(-50%, 50%);
  font-size: 20px;
} */

/* .thepilots{
  display: inline-block;
}
p{
  color: #bbe1fa;
}
h2{
  color: #bbe1fa;
}
.tyler{
  align-items: center;
  display: inline-block;

}

.favouritesongs{
  font-size: x-large;
  color: #bbe1fa;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, 610%);
}

h1{
  color: #ffffff;
  position: absolute;
  top: 270%;
  left: 10%;
  
}

#links{
  background-color: black;
  border: solid;
  border-width: 2px;
  border-color: cyan;
  overflow: hidden;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,3480%);
  color: rgb(255, 255, 255);
  text-align:center
}

.click {
  overflow: hidden;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */
